* {
    box-sizing: border-box;
}

body {
    background-image: url('https://i.pinimg.com/736x/e4/33/03/e43303729421ba43dea9b4b3d9ff9eb7.jpg');
    background-size: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: white;
    color: black;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.delete-btn {
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    animation: variocolor 2s infinite alternate-reverse;
   
}
.delete-btn:hover {
    background-color: rgb(71, 12, 138);
    transform: translateY(-2px);
}

@keyframes Aumentador {
   0% {
    transform: scale(1)
   } 
   100% {
    transform: scale(1.5);
   }
}
@keyframes variocolor {
    0% {
        background-color: #FF5733;
    }
    15%{
        background-color: #FF8D1A ;
    }
    25% {
        background-color: #FFC300 ;
    }
    50% {
        background-color: #DAF7A6 ;
    }
    75%{
        background-color: #33FFBD ;
    }
    100% {
        background-color: #1A5276; 
    }
}

   .listadetarefas {
    backdrop-filter: blur(2px);
    border-radius: 15px;
    border: 2px solid white; 
    padding: 20px;
    height: 50%;
    max-height: 70%;
    max-width: 800px;
    overflow: scroll;
    resize: both;
}

::-webkit-scrollbar {
    width: 20px;

}

#tarefaInput {
    padding: 5px 8px;
    background-color: white;
    width: 70%;
    border-radius: 10px;
    margin-right: 5px;
}

#addbt {
   padding: 2% 2%;
    font-size: 16px;
       color: #000000;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 25%;
}
      
#addbt:hover {
    background-color: gray;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
   animation: variocolor 4s infinite;
}

@media (max-width: 600px) {
        .listadetarefas {
            width: 95%;
            padding: 15px;
        }
    
        #tarefaInput {
            font-size: 14px;
            padding: 4px 6px;
            width: 65%; 
        }
    
        #addbt {
            font-size: 14px;
            padding: 4px 6px;
            width: 30%; 
        }
    }